* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.website_container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100px;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #131921;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar_opener {
    width: 205px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar_logo {
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_holder {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6px;
    padding-right: 8px;
    margin-left: 2px;
    cursor: pointer;
}

.logo_holder img {
    height: 30px;
    width: 100%;
}

.active {
    border: solid transparent 1px;
    border-radius: 2px;
}

.active:hover { 
    border: solid #ffffff 1px;
    border-radius: 2px;
}

.navbar_location {
    padding-top: 9px;
    width: 90px;
    height: 50px;
    cursor: pointer;
    margin-right: 5px;
}

.navbar_location .location_line_one {
    line-height: 14px;
    font-size: 12px;
    color: #cccccc;
    padding-left: 10px;
}

.navbar_location .location_line_two {
    line-height: 16px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    flex-direction: row;
}

.navbar_location .location_line_two p {
    padding-left: 2px;
}

.navbar_search {
    width: 455px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_option {
    height: 40px;
    width: 52px;
}

.search_option select {
    height: 100%;
    width: 100%;
    border: none;
    background-color: #D4D4D4;
    border-right: 1px solid #979696;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.search_bar {
    height: 40px;
    width: 350px;
}

.search_bar input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.search_icon {
    height: 40px;
    width: 50px;
    color: black;
    font-size: 25px;
    background-color: #F3A847;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar_closer {
    width: 345px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.navbar_language {
    height: 50px;
    width: 73px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;
}

.navbar_closer .navbar_flag_logo {
    height: 16px;
    width: 21px;
}

.navbar_closer .navbar_flag_logo img{
    width: 100%;
    height: 100%;
}

.navbar_language p {
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 1px;
    font-weight: 550;
}

.navbar_account {
    height: 50px;
    width: 131px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.navbar_account .account_line_one {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}

.navbar_account .account_line_two {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.navbar_orders {
    height: 50px;
    width: 76px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.navbar_orders .orders_line_one {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}

.navbar_orders .orders_line_two {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.navbar_cart_icon {
    height: 50px;
    width: 59px;
    color: #ffffff;
    margin-top: 5px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.secondary_navbar {
    height: 40px;
    width: 100%;
    background-color: #232F3E;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.secondary_navbar_options_all {
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.secondary_navbar_options_all p {
    padding-left: 4px;
}

.secondary_navbar_options_deals {
    width: 103px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
}

.secondary_navbar_options_registry {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
}

.secondary_navbar_options_service {
    width: 130px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
}

.secondary_navbar_options_gift {
    width: 81px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
}

.secondary_navbar_options_sell {
    width: 42px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
}

.carousel {
    width: 100%; 
    height: 600px;
    background-image: url("images/amazon carousel image2.jpg");
    background-position: center;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.gradient {
    background-image: linear-gradient(to bottom, #4E01C1, #E3E6E6);
    height: 100px;
    position: relative;
}

.body {
    background-color: #E3E6E6;
    height: 900px;
}

.body .line_holder {
    height: 40px;
    line-height: 18px;
    font-size: 16px;
    z-index: 1;
    background-color: #F5F6F6;
    padding: 10px;
    margin: 0 20px 20px 20px;
    position: relative;
    top: -450px;
    text-align: center;
}

.card_holder {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: -450px;
    padding: 0 10px 0 10px;
}

.card_holder .card {
    width: 33.33%;
    margin: 10px;
    background-color: white;
}

.card h2 {
    padding: 20px 20px 0 20px;
    font-size: 21px;
}

.card img {
    padding: 20px;
    width: 100%;
    height: 300px;
}
.card a {
    text-decoration: none;
    color: #007185;
    padding: 20px 20px 0 20px;
}